<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <mat-tab-group mat-align-tabs="start" [selectedIndex]="tabIndex">
                    <mat-tab label="Productos">
                        <app-products></app-products>
                    </mat-tab>
                    <mat-tab label="Clientes">
                        <app-clients></app-clients>
                    </mat-tab>
                    <mat-tab label="Proveedores">
                        <app-providers></app-providers>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>