<div class="main-content">
    <div class="container-fluid">
        <form [formGroup]="inventoryForm" (ngSubmit)="onRegisterSubmit()">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="card ">
                        <div class="card-header card-header-rose card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">reorder</i>
                            </div>
                            <h4 class="card-title">Datos básicos del ajuste de inventario</h4>
                        </div>
                        <div class="card-body">
                            <div class="card" style="margin-top: 0px;">
                                <div class="card-body">
                                    <h5 class="font-weight-bold mb-3">Datos adicionales de ajustes de inventario.</h5>
                                    <div class="row">
                                        <div class="col-4">
                                            <mat-form-field>
                                                <mat-select placeholder="* Seleccione razón" name="reason"
                                                    formControlName="reason">
                                                    <mat-option *ngFor="let p of inventoryReasonList" [value]="p.description">
                                                        {{ p.description }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        
                                        <div class="col-8">
                                            <mat-form-field>
                                                <mat-label>Información Adicional</mat-label>
                                                <textarea matInput placeholder="Información Adicional" rows="1"
                                                    formControlName="additionalInformation"></textarea>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card" style="margin-top: 0px;">
                                <div class="card-body">
                                    <form [formGroup]="productForm" (ngSubmit)="onSubmitProduct()" *ngIf="!this.isReadOnly">
                                        <h5 class="font-weight-bold mb-3">Productos</h5>

                                        <div class="row">

                                            <div class="col">
                                                <mat-form-field>
                                                    <mat-select placeholder="* Seleccione producto" name="producto"
                                                        formControlName="productId"
                                                        (selectionChange)="onProductSelectChange($event.value)">
                                                        <mat-option *ngFor="let p of productList" [value]="p.id">
                                                            {{ p.brandCode}}-{{ p.modelCode}}-{{
                                                            p.universalGroupCode}}-{{p.sourceCode}} - {{p.description}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col">
                                                <mat-form-field>
                                                    <input matInput formControlName="amount" placeholder="Cantidad"
                                                        type="number">
                                                </mat-form-field>
                                            </div>
                                            <div class="col">
                                                <button mat-raised-button [disabled]="!productForm.valid" type="submit"
                                                    class="btn btn-fill btn-rose">Agregar</button>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="card" style="margin-top: 0px;" *ngIf="tblData.length >0">
                                        <div class="card-body">
                                            <table datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions"
                                                class="table table-striped  table-hover" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th style="min-width: 50px;" class="disabled-sorting text-left" *ngIf="!this.isReadOnly">
                                                            Acciones
                                                        </th>
                                                        <th style="min-width: 100px;">Producto</th>
                                                        <th style="min-width: 140px;">Codigo GIS</th>
                                                        <th style="min-width: 50px;">Cantidad</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let row of tblData">
                                                        <td class="text-left" *ngIf="!this.isReadOnly">
                                                            <button mat-raised-button type="button" (click)="deleteProduct(row)"
                                                                class="btn btn-link btn-danger btn-just-icon remove-user icon-display"
                                                                title="eliminar"><i
                                                                    class="material-icons">close</i></button>
                                                            <button mat-raised-button type="button" (click)="onProductUpdateChange(row)"
                                                                class="btn btn-link btn-warning btn-just-icon edit-user icon-display"
                                                                title="editar"><i
                                                                    class="material-icons">edit</i></button>

                                                        </td>
                                                        <td>{{ row.productDescription }}</td>
                                                        <td>{{ row.productGISCode }}</td>
                                                        <td>{{ row.amount }}</td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                            <!-- <div class="row">
                                                <div class="col"></div>
                                                <div class="col"></div>
                                                <div class="col">
                                                    <div class="row">
                                                        <mat-form-field>
                                                            <input matInput formControlName="discount"
                                                                placeholder="Aplicar Descuento (%)" type="number"
                                                                (keyup)="doFilter($event.target.value)">
                                                        </mat-form-field>
                                                    </div>
                                                </div>

                                                <div class="col"></div>

                                                <div class="col" style="padding-right: 4%; margin-top: 0%;">

                                                    <div class="row">
                                                        <div class="col-6" style="font-weight : bold;"><b>Subtotal:</b>
                                                        </div>
                                                        <div class="col-6" style="text-align: end;">{{ totalExcludingIva
                                                            | currency:'CLP':'symbol':'1.0-0' }}</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6" style="font-weight : bold;"><b>Descuento:</b>
                                                        </div>
                                                        <div class="col-6" style="text-align: end;"> {{ totalDiscount |
                                                            currency:'CLP':'symbol':'1.0-0' }}</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6"
                                                            style="border-top: 1px solid ;font-weight : bold;">
                                                            <b>Neto:</b>
                                                        </div>
                                                        <div class="col-6"
                                                            style="border-top: 1px solid ; text-align: end;"> {{
                                                            totalNet | currency:'CLP':'symbol':'1.0-0' }}</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6" style="font-weight : bold;">
                                                            <b>IVA:</b>
                                                        </div>
                                                        <div class="col-6" style="text-align: end;"> {{ totalIVA |
                                                            currency:'CLP':'symbol':'1.0-0' }}</div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-6"
                                                            style="border-top: 1px solid ;font-weight : bold;">
                                                            <b>TOTAL:</b>
                                                        </div>
                                                        <div class="col-6"
                                                            style="border-top: 1px solid ;font-weight : bold; text-align: end;">
                                                            {{ total | currency:'CLP':'symbol':'1.0-0' }}</div>
                                                    </div>
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

            <button *ngIf="!this.isReadOnly" (click)="volver()" mat-raised-button type="button"
                class="btn btn-fill btn-default">
                Cancelar</button>

            <button *ngIf="!this.isReadOnly" mat-raised-button type="submit" [disabled]="!inventoryForm.valid"
                class="btn btn-fill btn-rose">Guardar</button>


            <button *ngIf="this.isReadOnly" (click)="volver()" mat-raised-button type="button"
                class="btn btn-fill btn-default">
                Volver</button>

        </form>
    </div>
</div>